@page "/admin"
@model Mission10.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Bookstore Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>
    
    <component type="typeof(Mission10.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>

</body>
</html>